@page "/"
@using DBManager.Repository;
@using System.Text.Json;

<div class="flex">

	<div class="top-left-button-container">
		<div class="top-left-button p-1" @onclick="(e => NavigateToBillPage())">+</div>
	</div>

	<div class="billing-container blue">
		
		<div class="p-2">
			<ColumnChart />
		</div>

		<div class="p-2 blue">
			<div class="bill-elements-header white">
				<div class="bill-text">Name</div>
				<div class="bill-text">Price</div>
				<div class="bill-text">Date</div>
			</div>

			@foreach (var billsInDate in billsByDate)
			{
				<div>
					<div>@billsInDate.Key.ToString()</div>

					@foreach (var bill in billsInDate.Value)
					{
						<div class="bill-element white" @onclick="(e => NavigateToBillPage(JsonSerializer.Serialize<DBManager.Entities.Bill>(bill)))">
							<div class="bill-text">@bill.Name</div>
							<div class="bill-text">@bill.Price</div>
							<div class="bill-text">@bill.BillDate</div>
						</div>
					}
				</div>
			}
		</div>
	</div>
</div>


@code
{
	private IDictionary<DateTime, IList<DBManager.Entities.Bill>> billsByDate = new Dictionary<DateTime, IList<DBManager.Entities.Bill>>();

	protected override void OnInitialized()
	{
		BillRepository rep = new BillRepository();
		var date = new DateTime(2023, 11, 8);
		billsByDate = rep.GetBillsByDateRange(date.AddDays(-7), date);
	}

	private void NavigateToBillPage(string JsonBill = "")
	{
		@inject NavigationManager navManager;
		navManager.NavigateTo("bill/" + JsonBill);
	}
}