.flex {
    display: flex;
}

.chart-container {
    display: flex;
    padding: 2%;
    margin:3%;
    background-color: white;
}

.billing-container {
    flex: 90%;
    padding: 10px;
    margin: 10px;
}

.light-blue {
    background-color: lightblue;
}

.blue-gray {
    background-color: lightsteelblue;
}

.white {
    background-color: white;
}

.box-shadow {
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 0.25);
}

.bill-grid {
    padding: 2%;
    margin: 1%;
    background-color: white;
}

.bill-container {
    margin-top: 1%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
}

.bill-element {
    padding: 5%;
    display: flex;
    flex-direction: row;
    margin: 1%;
    box-shadow: inset 0 0 3px black;
    background-color: whitesmoke;
}

.bill-element:hover {
    background-color: lightsteelblue;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.bill-text {
    flex: 1;
    text-align: center;
}

.bill-left-element {
    flex: 2;
}

.bill-right-element {
    align-items: center;
    display:flex;
    flex-direction: row;
    flex: 1;
}

.text-center {
    flex: 1;
    text-align: center;
}

.bill-title {
    font-size: larger;    
}

.bill-type {
    font-size: small;
}

.date-element {
    padding-top: 1%;
    text-align: center;
    border-radius: 0;
    width: fit-content;
    align-self: center;
    color:white;
}

div{ border-radius: 10px}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.summary-header {
    font-size: x-large;
}

.summary-total {
    font-size: large;
}

.engine {
    background-image: url("~/Resources/Images/white_engine.png")
}