@page "/"
@using CountOn.Models;
@using CountOn.Controllers;
@using Service.Repository;
@using CountOn.Charts;
@using System.Text.Json;

<div>
	<ActionButtons NavigateToBillPage=NavigateToBillPage/>

	<DropDownMenu Label="Filters">
		<Content>
			<Filters @ref="BillsInfoController.FiltersRef"/>
		</Content>
	</DropDownMenu>

	<DropDownMenu Label="Summary" Visibility="d-block">
		<Content>
			<BillSummary @ref="BillsInfoController.BillSummaryRef" />
		</Content>
	</DropDownMenu>

	<DropDownMenu Label="Chart">
		<Content>
			<ChartComponent @ref="BillsInfoController.ChartComponentRef" />
		</Content>
	</DropDownMenu>

	<DropDownMenu Label="Bills">
		<Content>
			<Bills @ref="BillsInfoController.BillsRef"/>			
		</Content>
	</DropDownMenu>

</div>

@code {

	private void NavigateToBillPage(string JsonBill = "")
	{
		@inject NavigationManager navManager;
		navManager.NavigateTo("bill/" + JsonBill);
	}
}