
.flex {
    display: flex;
}

.chart-container {
    display: flex;
    padding: 2px;
    background-color: white;
}

.billing-container {
    flex: 90%;
    padding: 10px;
    margin: 10px;
}

.light-blue {
    background-color: lightblue;
}

.blue-gray {
    background-color: lightsteelblue
}

.white {
    background-color: white;
}

.top-left-button {
    top: 10px;
    position: sticky;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    cursor: pointer;
}

.top-left-button-container {
    margin: 10px;
    padding: 10px;
}

.bill-grid {
    border: 3px solid black;
    padding: 2%;
    margin: 1%;
    background-color: white;
}

.bill-container {
    margin-top: 1%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.bill-elements-header {
    background-color: dodgerblue;
    border: 2px solid black;
    padding: 1%;
    display: flex;
    font-weight: 600;
}

.bill-element {
    border-width: 4px;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    margin: 1%;
}

.bill-element:hover {
    background-color: lightsteelblue;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.bill-text {
    flex: 1;
    text-align: center;
}

.date-element {
    padding-bottom: 1%;
    font-weight: 600;
    text-align: center;
    background-color: dodgerblue;
}

div{ border-radius: 10px}