<div class="d-flex flex-column dropdown-container box-shadow">
	<div class="dropdown box-shadow" @onclick="(e => ChangeDropDownVisibility())">@Label</div>
	<div class="content box-shadow @Visibility">
		@Content
	</div>
</div>

@code {

	[Parameter]
	public string Label { get; set; }

	[Parameter]
	public RenderFragment Content{ get; set; }

	[Parameter]
	public string Visibility { get; set; } = "d-none";

	private void ChangeDropDownVisibility()
	{
		if (Visibility == "d-none")
		{
			Visibility = "d-block";
		}
		else
		{
			Visibility = "d-none";
		}
	}
}
