.main {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height:100vh;
}

.header {
    text-align: center;
    margin-top: 2%;
}

.navbar-brand {
    background-color: dodgerblue;
    padding: 1%;
    border-radius: 0.375rem; /* 6px */
    color:white;
}