@inherits LayoutComponentBase

<html>
<body>
	<div class="green">
		<div class="header">
			<a class="navbar-brand" href="">MauiAppBlazor</a>
		</div>

		<div class="main-content">
			@Body
		</div>
	</div>
	</body>
</html>