.yellow {
    background-color: yellow;
}

.green {
    display: flex;
    flex-direction: column;
    background-color: green;
    height: 100vh;
}


.main-content {
    padding: 10px;
}

.header {
    text-align: center;
}